h1,h2{
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #5d5d5d;
}

h3{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #5d5d5d;
}

body{
	background-color: #393a39;
}

.lock{
		overflow: hidden;
	}

.header_wrapper{
	.header{
		position: fixed;
		padding: 20px 0 10px 0;
		width: 100%;
		top: 0; 
		left: 0;
		z-index: 50;
		&:before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #393a39;
			z-index: 2;
		}

		.header_body{
			position: relative;
			display: flex;
			.header_logo{
				z-index: 3;
				img{
					max-width: 100%;
					border-radius: 12px;
					&:active {
								opacity: 0.6;
								}
				}
			}
		}

		.header_menu{
			.header_list{
				display: flex;
				position: relative;
				z-index: 2;
				padding-left: 0;
				li{
					list-style: none;
					.header_link{
						font-family: "Raleway", sans-serif;
						font-size: 23px;
						font-weight: 400;
						text-decoration: none;
						color: #ffffff;
						padding: 0 20px;
						border-radius: 15px;
						&:hover {
										background-color: #ee1551;
										color: #c6c6c6;
									}
						&:active {
										background-color: #86e7f0;
										color: #333;
									}
					}
				}
			}
		}

	}
}

.banner{
	background-color: #ffffff;
	.text{
		margin: 180px auto 140px auto;
		text-align: center;
			h1{
				font-size: 61px;
				margin-bottom: 26px;
				margin-top: 0;
				p{
					margin: 0 0;
					font-family: "Raleway", sans-serif;
					font-size: 41px;
					font-weight: 300;
				}
			}
			button{
				font-family: "Raleway", sans-serif;
				font-size: 23px;
				font-weight: 400;
				color: #ffffff;
				background-color: #373737;
				padding: 13px 15px 13px 15px;
				width: 210px;
				border: none;
					&:active {
									background-color: #ee1551;
								}	
						img{
							margin-bottom: 3px;
						}			
			}
		}
	.img_banner{
		margin: 160px auto 80px auto;
			img{
				width: 100%;
			}
	}
}

// sectinon main
.main{
	background-color: #ffffff;
		.featured-post-img{
			padding-right: 0;
			padding-left: 0;
			.post_img{
				background: linear-gradient(45deg, #cecece,#d7d7d7, #a2a2a2);
				display: flex;
				.tablet{
					margin: 62px auto 62px auto;
					img{
						width: 100%;
					}
				}
				.monitor{
					margin: 70px auto 45px auto;
					img{
						width: 100%;
					}
				}
			}
		}

		.title-post{
			height: 243px;
			h2{
				margin-top: 0;
				margin-bottom: 15px;
				font-size: 30px;
				color: #736c6c;
			}

			.slider{
				display: flex;
				position: relative;
				height: 110px;
				top: -40px;
				left: 0;
				right: 0;
				.span{
					position: absolute;
					font-size: 14px;
					color: #c6c6c6;
					text-align: justify;
					display: none;
				}
				.curry{
						display: block;
					}
			}
			.prev{
				background-color: #7c7d7c;
				position: relative;
				top: 119px;
				left: 10px;
				width: 25px;
				border-radius:5px;
				cursor: pointer;
					&:hover {
										background-color: #ee1551;
									}
			}
			.next{
				background-color: #7c7d7c;
				position: relative;
				top: -16px;
				left: 92%;
				width: 25px;
				border-radius:5px;
				cursor: pointer;
					&:hover {
										background-color: #ee1551;
									}
				img{
					padding-left: 15px;
				}
			}
		}

	.ad1{
		.ad1_block{
			border: solid 2px;
			border-color: #e5e1e1;
	    padding-bottom: 15px;
	    text-align: center;
			h3{
				font-size: 21px;
				margin: 10px 0px 0px 0px;
				color: #afb3a4;
			}
			span{
				font-family: "Raleway", sans-serif;
				font-weight: 700;
				font-size: 39px;
				color: #b8dc58;
			}
			.ipad-b{
				position: relative;
				left: 46px;
			}
			.ipad-s{
				position: absolute;
				top: 150px;
			}
			.css{
				padding: 100px 60px 0px 110px;
	    	right: 50px;
			}
		}
	}
}

// section posts	
.posts{	
	background-color: #ffffff;
	.post{
		margin: 20px 0px;
		h1{
			font-size: 23px;
			line-height: 1;
			margin-top: 15px;
			color: #736c6c;
		}
		h2{
			font-size: 14px;
			color: #a5a5a5;
		}
		span{
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 14px;
			color: #393a39ff;
			text-align: justify;
		}
	}

	.ad2{
		.circle{
			position: absolute;
			z-index: 1;
			top: 20px;
			background: #ef809f;
			text-align: center;
			width: 120px;
	  	height: 120px;
	  	border-radius: 50%;
	 		border: solid 5px #ffffff;
	    margin-left: 120px;
	  	line-height: 40px;
				h4{
					font-size: 70px;
					color: #ffffff;
					margin-top: 18px;
					margin-block-end: auto;
					padding-right: 8px;
				}
				span{
					font-family: "Manjari", sans-serif;
					font-weight:400;
					font-size: 20px;
					color: #ffffff;
				}
			}
		.ad22{
			position: relative;
			background: #86e7f0;
			text-align: center;
			padding-top: 10px;
	    margin-top: 50px;
				p{
					font-family: "Manjari", sans-serif;
					font-weight:400;
					font-size: 46px;
					text-transform: uppercase;
					color: #ffffff;
					margin: 78px 0px 0px 0px;
				}
				h3{
					font-family: "Manjari", sans-serif;
					font-weight:400;
					font-size: 26px;
					color: #ffffff;
					margin: 0px 0px;
				}
				button{
					font-family: "Manjari", sans-serif;
					font-size: 20px;
					font-weight: 400;
					color: #ffffff;
					background-color: #58d1dc;
					padding: 10px 20px 10px 20px;
					width: 180px;
					border: none;
					border-radius: 10px;
					margin-bottom: 20px;
					&:hover {
										background-color: #393a39;
										color: #ee1551;
									}
						&:active {
										background-color: #ef809f;
										color: #393a39;
									}
				}	
			}
	}

	.subscribe{
			background-color: #393a39;
			margin-top: 25px;
			padding: 25px 30px 20px 30px;
			border-bottom: solid 6px;
			border-color: #bb4465;
			h3{
				margin: 0px 0px;
				color: #ffffff;
				text-align: center;
				text-transform: uppercase;
				font-family: "Raleway", sans-serif;
				font-size: 26px;
				font-weight: 300;
			}
			h2{
				font-family: "Raleway", sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: #ffffff;
				margin-bottom: 0px;
			}
			form{
				input{
					width: 100%;
					padding-left: 10px;
					font-family: "Raleway", sans-serif;
					font-weight: 300;
					font-size: 14px;
					color: #c6c6c6;
				}
				.button{
					font-family: "Manjari", sans-serif;
					font-size: 20px;
					font-weight: 400;
					color: #ffffff;
					background-color: #bb4465;
					padding: 10px 20px 10px 20px;
					width: 180px;
					border: none;
					border-radius: 10px;
					margin: 20px 0px 0px 60px;
					&:hover {
										background-color: #58d1dc;
										color: #ee1551;
									}
						&:active {
										background-color: #ef809f;
										color: #58d1dc;
									}
				}
			}
	}
}



footer{
	background-color: #393a39;
	padding: 15px 0 15px 0;
	margin-top: 50px;
	text-align: center;
	.footer_text{
		padding-top: 6px;
		padding-bottom: 6px;
		span{
			font-family: "Raleway", sans-serif;
			font-size: 16px;
			font-weight: 300;
			color: #ffffff;
		}
	}
	.footer_loc{
		i{
			color: #ffffff;
			font-size: 30px;
			padding: 5px 8px;
				&:hover {
							color: #ee1551;
						}
				&:active {
							color: #86e7f0;
						}
		}
	}
}


	@media screen and (max-width: 1199px){
		.banner{
			.text{
				h1{
					font-size: 55px;
					p{
						font-size: 35px;
					}
				}
			}
		}

		.main{
			.ad1{
				.ad1_block{
					.ipad-b{
						left: 0px;
					}
					.ipad-s{
						top: 150px;
						left: 115px;
					}
					.css{
						padding: 115px 0px 0px 55px;
					}
				}
			}
		}

		.posts{
			.ad2{
				.circle{
					margin-left: 80px;
				}
				.ad22{
					p{
						font-size: 42px;
					}
				}
			}
			.subscribe{
				h3{
					font-size: 24px;
				}
				form{
					.button{
						margin: 20px 0px 0px 20px;
					}
				}
			}
		}

	}


	@media screen and (max-width: 991px){
		.banner{
			.text{
				h1{
					font-size: 42px;
					margin-bottom: 20px;
					p{
						font-size: 26px;
					}
				}
				button{
					font-size: 15px;
					width: 170px;
				}
			}
		}

		.main{
			.ad1{
				.ad1_block{
					margin: 20px auto;
					width: 350px;
					.ipad-s{
						top: 170px;
						left: 305px;
					}
					.css{
						padding: 115px 0px 0px 85px;
					}
				}
			}
		}

		.posts{
			.ad2{
				margin: 20px auto;
    		width: 350px;
				.circle{
					top: 0px;
					margin-left: 120px;
				}
			}
			.subscribe{
				margin: 20px auto;
    		width: 350px;
    		h3{
					font-size: 26px;
				}
				form{
					.button{
						margin: 20px 0px 0px 60px;
					}
				}
			}
		}

	}

	@media screen and (max-width: 767px){
	
		.header_wrapper{	
			
			.header{
				.header_burger{
					display: block;
					position: relative;
					width: 30px;
					height: 20px;
					float: right;
					z-index: 3;
					cursor: pointer;
					&:before,&:after{
						content:'';
						background-color:#ffffff;
						position: absolute;
						width: 100%;
						height: 2px;
						left: 0;
						transition: all 0.4s ease 0s;
					}
					span{
						background-color: #ffffff;
						position: absolute;
						width: 100%;
						height: 2px;
						left: 0;
						top: 9px;
						transition: all 0.4s ease 0s;
					}
				}
				.header_burger:before{
						top: 0;
					}
				.header_burger:after{
						bottom: 0;
					}


				.active:before{
					 transform: rotate(45deg);
					 top: 9px;
				}	
				.active:after{
					 transform: rotate(-45deg);
					 bottom: 9px;
				}
				.active{
					span{
						transform: scale(0);
					}
				}

				.header_menu{
					position: fixed;
					top: -100%;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: auto;
					transition: all 0.6s ease 0.2s;
					background-color: #bb4465;
					padding: 70px 10px 20px 10px;
					.header_list{
						display: block;
						li{
							padding: 0 0 20px 0;
						}
					}
				}	
				.active{
					top: 0;
				}
			}
		}

			.banner{
				.text{
					h1{
						font-size: 42px;
						margin-bottom: 18px;
						p{
							font-size: 28px;
						}
					}
					button{
						font-size: 15px;
						width: 170px;
					}
				}
			}

			.main{
				.featured-post-img{
					.post_img{
						margin: 2px auto;
						width: 350px;
					}
				} 
				.ad1{
					.ad1_block{
						.ipads{
							.ipad-b{
								left: 40px;
							}
							.ipad-s{
								left: auto;
							}
						}
					}
				}
			}

			.posts{
				.ad2{
					.circle{
						top: -40px;
					}
				}
			}
	}

	@media screen and (max-width: 746px){
		.banner{
			.text{
				margin: 140px auto 100px auto;
				h1{
					font-size: 32px;
					margin-bottom: 15px;
					p{
						font-size: 22px;
					}
				}
				button{
					font-size: 13px;
					width: 150px;	
				}
			}
			.img_banner{
				margin: 140px auto 60px auto;
			}
		}
	}

  @media screen and (max-width: 600px){
  	.banner{
  		.text{
  			width: 40%;
  			margin: 130px auto 40px auto;
  		}
  		.img_banner{
  			width: 60%;
  			margin: 140px auto 50px auto;
	  	}
  	}
  }

  @media screen and (max-width: 540px){
  	.banner{
  		display: block;
  		.text{
  			width: 100%;
  			margin: 100px auto 20px auto;
  			h1{
					font-size: 44px;
					p{
						font-size: 25px;
					}
				}
  			button{
  				  padding: 8px 15px 8px 15px;
  			}
  		}
  		.img_banner{
  			width: 100%;
  			margin: 20px auto 40px auto;
  		}
  	}
  }

	@media screen and (max-width: 400px){
		.main{
				.featured-post-img{
					.post_img{
						width: 100%;
					}
				} 
				.title-post{
					.prev{
						top: 169px;
					}
					.next{
						top: 34px;
					}
				}
				.ad1{
					margin-top: 100px;
					.ad1_block{
						width: 100%;
					}
				}
			}

			.posts{
				.ad2{
	    		width: 100%;
				}
				.subscribe{
	    		width: 100%;
		    	h3{
						font-size: 22px;
					}
					h2{
						font-size: 12px;
					}
					form{
						.button{
							margin: 20px 0px 0px 50px;
						}
					}
				}
			}
	}

@media screen and (max-width: 375px){
	.posts{
		.ad2{
			.circle{
				margin-left: 100px;
			}
			.ad22{
				p{
					font-size: 38px;
				}
				h3{
					font-size: 24px;
				}
				button{
					font-size: 18px;
				}
			}
		}
		.subscribe{
			form{
				.button{
					width: 100%;
					margin: 20px 0px 0px 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 340px){

	.main{
		.title-post{
			.prev{
				top: 189px;
			}
			.next{
				top: 54px;
			}
		}
		.ad1{
			margin-top: 130px;
		}
	}

	.posts{
		.ad2{
			.circle{
				margin-left: 75px;
			}
		}	
	}
}		